.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.spinner {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  animation: spinner 1s ease infinite;
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}
