.prodContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background: #f9f9f9;
}
.prod-search {
  margin-top: 10px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.showmore-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.8);
  margin-top: 20px;
  cursor: pointer;
}
.showmore-container span {
  font-size: 14px;
  margin-right: 5px;
}
.arrow-small {
  font-size: 8px;
  font-weight: lighter;
}

.showmore-container:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.prodItemContainer {
  position: relative;
  width: 250px;
  height: 400px;
  margin: 0;
  margin: 0 12px 40px 12px;
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.imgContainer {
  height: 74%;
  margin: 0;
}
.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.infoContainer {
  padding-left: 20px;
  height: 26%;
  background: white;
  z-index: 999;
}
.slide-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 74%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  opacity: 1;
}
.heart {
  align-self: flex-end;
  margin: 25px 25px 0 0;
  transform: translateX(-40px);
  opacity: 0;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartIcon {
  margin-right: 7px;
  transform: translateX(5px);
  opacity: 0;
}
.slidefrom-bottom {
  background: black;
  display: flex;
  font-size: 13px;
  align-items: center;
  color: white;
  justify-content: center;
  padding: 10px;
  transform: translateY(43px);
  opacity: 0;
  cursor: pointer;
}
.heart:hover {
  background: orange;
  color: white;
}
.prodItemContainer:hover {
  transition: all 0.1s ease;
}
.prodItemContainer:hover .slidefrom-bottom {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.3s linear;
}
.prodItemContainer:hover .heart {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.3s linear;
}
.slidefrom-bottom:hover {
  background-color: rgb(255, 166, 0);
  color: white;
  transition: all 0.1s linear;
}
.slidefrom-bottom:hover .cartIcon {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.1s linear;
  z-index: 999;
}
.slidefrom-bottom:hover span {
  margin-right: -4px;
}
@media screen and (max-width: 550px) {
  .prodItemContainer {
    width: 185px;
    height: 300px;
    margin-top: 20px;
    margin: 0 2px 40px 2px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  .prodContainer {
    justify-content: space-evenly;
  }
  .infoContainer {
    padding-left: 10px;
  }

  .slidefrom-bottom {
    font-size: 12px;
    padding: 5px;
    margin-bottom: 0px;
  }
  .cartIcon {
    margin-right: 7px;
    transform: translateX(0px);
    opacity: 1;
    font-size: 12px;
  }
  .slidefrom-bottom:hover {
    background-color: black;
    color: white;
  }
  .slidefrom-bottom:active {
    background-color: rgb(32, 30, 30);
    transition: all 0.1s linear;
  }
}
@media screen and (max-width: 390px) {
  .prodItemContainer {
    width: 160px;
    height: 298px;
    margin: 0px;
    margin: 0 2px 40px 2px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
}
@media screen and (max-width: 320px) {
  .prodItemContainer {
    width: 90%;
    height: 300px;
    margin: 0px;
    margin: 0 2px 40px 2px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
}
@media screen and (min-width: 700px) and (max-width: 850px) {
  .prodItemContainer {
    width: 200px;
  }
}
