.prodDetail-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
}
.prodImgWrapper,
.prodInfoWrapper {
  flex: 1;
}
.prodImgWrapper img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}
.prodInfoWrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.prodInfoWrapper h2 {
  font-size: 30px;
  font-weight: 400;
}
.prodInfoWrapper h3 {
  font-weight: 500;
  color: rgb(161, 107, 7);
}
.prodsize-wrapper {
  margin-top: 10px;
  align-self: flex-start;
}

.prodsize-wrapper span {
  margin-right: 10px;
}
.prodsize-wrapper select {
  padding: 10px;
  font-size: 16px;
}
.addtocartandcontrollerwrapper {
  align-self: flex-start;
  display: flex;
  margin-top: 20px;
}
.prodItemCounter {
  flex-shrink: -1;
  display: flex;
  width: 122px;
  border: 1px solid rgb(78, 76, 76);
  margin-right: 20px;
}
.prodItemCounter button,
.counter {
  padding: 10px;
  border: none;
  background: transparent;
  outline: none;
}
.prodItemCounter input {
  width: 50%;
  text-align: center;
}
.prodItemCounter button {
  cursor: pointer;
}
.btn-add-toCart {
  cursor: pointer;
  border: 1px solid orange;
  padding: 10px 70px;
  color: rgb(223, 163, 53);
}
.btn-add-toCart span:first-child {
  margin-right: 10px;
}
.btn-add-toCart:hover {
  background: rgb(223, 163, 53);
  color: white;
  transition: all 0.2s linear;
}
.heartIcon-container {
  margin-top: 20px;
  color: rgb(223, 163, 53);
  display: flex;
  justify-content: center;
  align-items: center;
}
.heartIcon-container a {
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

.heartIcon-container a:hover {
  text-decoration: underline;
  color: rgb(223, 163, 53);
  transition: all 0.2s linear;
}

@media screen and (max-width: 550px) {
  .prodDetail-container {
    padding: 0px 15px;
    flex-direction: column;
    padding: 0px 20px;
  }

  .prodImgWrapper {
    flex: 1;
  }
  .prodImgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .prodInfoWrapper {
    padding: 10px;
    margin-top: 20px;
  }
  .addtocartandcontrollerwrapper {
    flex-flow: column wrap;
  }

  .prodsize-wrapper select {
    padding: 5px;
    font-size: 14px;
  }
  .prodItemCounter {
    flex-shrink: 0;
    width: 70px;
  }
  .btn-add-toCart {
    margin-top: 5px;
    padding: 10px;
  }
  .prodInfoWrapper span {
    margin-bottom: 5px;
    line-height: 1.5;
  }
}
